/* VARIABLES
--------------------------------------------------------- */
:root {
  /* COLORS */
  --main: #b92a72;
  --secondary: #333333;
  --third: #4c556d;
  --color-one: #ffffff;
  --color-two: #36404b;
  --color-three: #faab00;
  --color-four: #d4d4d4;
  --color-five: #41a8d1;
  --color-six: #b4226bad;
  --color-seven: #220212;
  --color-eight: #292929be;
  --color-nine: #4a51be;
  --color-ten: #1f1f1f;

  /* GRADIENTS */
  --main-gradient: linear-gradient(150deg, #292929, #333333, #292929);
  --secondary-gradient: linear-gradient(160deg, #fa3296, #eda6ff, #5c64dd);
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* COLOR & BACKGROUND
--------------------------------------------------------- */
body,
header a,
lh,
h2 {
  color: var(--color-one);
}

header {
  background: var(--color-six);
}

h2 {
  color: var(--color-nine);
}

lh {
  color: var(--color-nine);
}

.welcome-section {
  background: var(--secondary);
}

.dash {
  background: var(--main);
}

.developer-text {
  color: var(--main);
}

.projects-section {
  background: var(--third);
}

.project-title {
  background: var(--color-two);
}

.project-tile a {
  color: var(--color-one);
}

.code {
  color: transparent;
}

.contact-section {
  background: var(--secondary);
}

.contact-section a {
  color: var(--main);
}

.about-section {
  background-color: var(--color-ten);
}

.list-link {
  color: var(--main);
  border-bottom: 1px solid var(--main);
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* BORDERS & SHADOWS
--------------------------------------------------------- */
h2 {
  border-bottom: 5px solid var(--color-nine);
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* PSEUDO CLASSES
--------------------------------------------------------- */
header a:hover {
  background: var(--color-four);
  color: var(--color-three);
}

.list-link:hover {
  opacity: 0.5;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
