/* VARIABLES
--------------------------------------------------------- */
:root {
  /* COLORS */
  --main-color: #c70063;
  --secondary-color: #333333;
  --third-color: #4c556d;
  --color-one: #ffffff;
  --color-two: #36404b;
  --color-three: #faab00;
  --color-four: #d4d4d4;

  /* GRADIENTS */
  --main-gradient: linear-gradient(150deg, #292929, #333333, #292929);
  --secondary-gradient: linear-gradient(160deg, #fa3296, #eda6ff, #5c64dd);
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* COLOR & BACKGROUND
--------------------------------------------------------- */
body {
  color: var(--color-one);
}

.welcome-section {
  background: var(--secondary-color);
}

header {
  background: var(--main-color);
}

header a {
  color: var(--color-one);
}

header a:hover {
  background: var(--color-four);
  color: var(--color-three);
}

.dash {
  background: var(--main-color);
}

.developer-text {
  color: var(--main-color);
}

.projects-section {
  background: var(--third-color);
}

.project-title {
  background: var(--color-two);
}

.project-tile a {
  color: var(--color-one);
}

.code {
  color: transparent;
}

.about-section {
  color: var(--secondary-color);
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
