/* FONT FAMILIES :
font-family: 'Allison', cursive;
font-family: 'Cabin', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Poppins', sans-serif;
--------------------------------------------------------- */

/* GENERAL
--------------------------------------------------------- */
a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* HEADER
--------------------------------------------------------- */

.main-nav a {
  font-size: 1.2rem;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* WELCOME SECTION
--------------------------------------------------------- */
h1 {
  font-family: "Karla", sans-serif;
  font-size: 3rem;
}

.name-container {
  font-family: "Dancing Script", cursive;
}

.hello-text {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
}

.developer-text {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
}

.project-title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1.2rem;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
