/* FONT FAMILIES :
font-family: 'Allison', cursive;
font-family: 'Cabin', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Poppins', sans-serif;
--------------------------------------------------------- */

/* GENERAL
--------------------------------------------------------- */
a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* FONT FAMILIES
--------------------------------------------------------- */
lh {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Karla", sans-serif;
}

h2 {
  font-family: "Ubuntu", sans-serif;
}

h3,
.developer-text {
  font-family: "Quicksand", sans-serif;
}

.about-section,
.hello-text {
  font-family: "Raleway", sans-serif;
}

.name-container {
  font-family: "Dancing Script", cursive;
}

li b {
  font-family: "Ubuntu", sans-serif;
}

.questions-list p {
  font-family: "Quicksand", sans-serif;
}

.contact-section {
  font-family: "Ubuntu", sans-serif;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* FONT SIZE
--------------------------------------------------------- */
h1,
h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.6rem;
}

lh {
  font-size: 2rem;
}

li {
  font-size: 1.2rem;
}

.about-section {
  font-size: 1.4rem;
}

.developer-text {
  font-size: 1.5rem;
}

.main-nav a {
  font-size: 1.2rem;
}

.hello-text {
  font-size: 0.8rem;
}

li b,
.questions-list p {
  font-size: 1.4rem;
}

.contact-section a {
  font-size: 1.5rem;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* OTHER FEATURES
--------------------------------------------------------- */
h2,
h3,
.developer-text,
.project-title,
.questions-list p,
.contact-section p {
  text-align: center;
}

.about-section {
  font-weight: 500;
}

.about-section span {
  font-weight: bold;
}

li,
p {
  line-height: 2rem;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
